{% extends 'base.html' %}

{% block title %}Hobbysite | Online Wiki App{% endblock %}

{% block content %}

    <h1>Welcome to the Wiki App</h1>

    <div id="articles">
        <h2>Latest Articles</h2>
            <ul>
                
                    {% for article in articles %}
                        <li><a href="{% url 'article_detail' article.pk %}">{{ article.title }} → </a></li>
                        <i>{{ article.created_on }}</i> 
                        <br>
                        <br>
                    {% endfor %}
                
            </ul>
    </div>

{% endblock %}
