{% extends 'base.html' %}

{% block title %}
    <title>Create Product</title>
{% endblock title %}

{% block header %}
    <h1>Create Product</h1>
{% endblock header %}

{% block content %}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div>
            <label for="id_name">Name:</label>
            {{ form.name }}
        </div>
        <div>
            <label for="id_product_type">Product Type:</label>
            {{ form.product_type }}
        </div>
        <div>
            <label for="id_description">Description:</label>
            {{ form.description }}
        </div>
        <div>
            <label for="id_price">Price:</label>
            {{ form.price }}
        </div>
        <div>
            <label for="id_stock">Stock:</label>
            {{ form.stock }}
        </div>
        <div>
            <label for="id_status">Status:</label>
            {{ form.status }}
        </div>
        <div>
            <label for="id_image">Image:</label>
            {{ form.image }}
        </div>
        <button type="submit">Save</button>
    </form>
{% endblock content %}
