{% extends 'base.html' %}
{% load static %}

{% block title %}Hobbysite Blog{% endblock %}

{% block content %}
    <h1>Article List</h1>
    <p>Please see our blog entries below:</p>
    {% for item in articles(author=user.profile) %}
        <li>
            <a href="{% url 'blog:article-detail' pk=item.pk %}">
                {{ item.name }}
            </a>
            by {{ item.author }}<br>
            Last updated {{ item.updated_on }}
        </li>
    {% endfor %}
    <a href="{% url 'blog:article-create' %}">Write an Article</a>

{% endblock %}