{% extends 'base.html' %}
{% load static %}

{% block title %}{{ article.name }}{% endblock %}

{% block header %}
<img src="{{ article.header_image.url }}" alt="">
{% endblock %}

{% block content %}
    <h1>{{ article.name }}</h1>
    <p>Category: {{ article.category }}</p>
    <p>
        Created on {{ article.created_on }}, last updated on {{ article.updated_on }}
    </p>
    <p>{{ article.entry }}</p>
    
    <h2>Other Articles by {{ article.author }}</h2>
    {% for a in article.author.article.all().exclude(pk=article.pk) %}
        <li><a href="{{ a.get_absolute_url() }}">{{ a.name }}</a></li>
    {% endfor %}

    <a href="{% url 'blog:article-list' %}">Back to articles list</a>
    
    <h2>Comments</h2>
    {% if user.is_authenticated %}
        <p>Post a comment.</p>
        <form method="post">
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="Submit">
        </form>
    {% for c in article.comment.all() %}
        <p>
            {{ c.author }}<br>
            {{ c.entry }}<br>
            Posted {{ c.created_on }}
        </p>
    {% endfor %}
{% endblock %}
