{% extends 'base.html' %}
    {% block title %} Hobbysite | Edit Commission {% endblock %}

    {% block content %}

        <h1>Edit Commission</h1>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ commission_form.as_p }} <!-- Render CommissionForm -->
        
            <h2>Add Jobs</h2>
            {{ job_form.as_p }} <!-- Render formset management form -->
            <h2>Add Job Application</h2>
            {{ job_application_form.as_p }} <!-- Render each JobForm in the formset -->
            <button type="submit">Submit</button>
        </form>
        
    {% endblock %}
